<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CodeWalker.ModManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CodeWalker.ModManager.Properties.Settings>
            <setting name="GameFolderLegacy" serializeAs="String">
                <value />
            </setting>
            <setting name="GameFolderEnhanced" serializeAs="String">
                <value />
            </setting>
            <setting name="IsGen9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AESKey" serializeAs="String">
                <value />
            </setting>
        </CodeWalker.ModManager.Properties.Settings>
    </userSettings>
</configuration>
